@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Swan (Saint-Saëns)</h1>
    <p>My favorite song by far is The Swan by Saint-Saëns.</p>
</div>

<div class="content-container">
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3qrKjywjo7Q?si=dXOsKUTPNbEzdAfx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="animation-container animate" id="animateCircle"></div>
